<script>
    function openSubscribeModal() {
        let subscribeModal = document.getElementById('subscribe-modal');
        subscribeModal.style.display = 'flex';
    }

    function closeSubscribeModal() {
        let subscribeModal = document.getElementById('subscribe-modal');
        subscribeModal.style.display = 'none';
    }

    window.onclick = function (event) {
        let subscribeModal = document.getElementById('subscribe-modal');
        if (event.target == subscribeModal) {
            closeSubscribeModal();
        }
    };
</script>

<div id="subscribe-modal">
    <div class="modal-content-wrapper">
        <button class="x-button" onclick="closeSubscribeModal()">
            &times;
        </button>

        <h3>Subscribe!</h3>

        <p>
            Get an email every time I post something new. It's free, I won't
            spam you, and you can unsubscribe at any time!
        </p>

        <iframe
            src="https://aaronsonorg.substack.com/embed"
            width="100%"
            height="150"
            style="border: 1px solid #eee; margin-top: 15px"
            frameborder="0"
            scrolling="no"
        ></iframe>
    </div>
</div>
