---
---

@import 'minima';

.blog-post {
    & .blog-post-date {
        // text-transform: uppercase;
    }

    & .blog-post-title {
        margin-bottom: $spacing-unit / 2;
    }

    & .blog-post-tag {
        font-size: small;
        font-weight: 700;
        background: $grey-color-light;
    }

    .blog-post-body {
        margin-bottom: $spacing-unit;
    }

    sup {
        vertical-align: top;
        font-size: 0.7em;
    }

    .blog-post-byline {
        color: $brand-color;
        font-size: 1.8em;
        text-align: right;
        font-weight: 700;
    }

    .share-this-post {
        display: flex;
        flex-direction: row wrap;
        align-items: center;
        gap: 0.5em;
    }

    .share-this-post-icon {
        fill: $brand-color;
        padding-right: 0;
    }

    img {
        width: max(45%, 300px);
        margin: auto;
        display: block;
    }

    .img-smaller {
        width: max(30%, 200px);
    }

    .img-medium {
        width: max(80%, 450px);
        margin-bottom: 0.5em;

        & + em {
            display: inline-block;
            width: max(80%, 450px);
            max-width: 100%;
        }
    }

    .img-big {
        width: 100%;
        display: inline-block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .img-left,
    .img-right {
        margin-bottom: 0.5em;

        &.portrait {
            width: 30%;
        }

        @media (max-width: 500px) {
            margin-bottom: 1em;
            width: 100% !important;
            float: none;
        }
    }

    .img-left {
        float: left;
        margin-right: 1em;

        @media (max-width: 500px) {
            margin-right: 0;
        }
    }

    .img-right {
        float: right;
        margin-left: 1em;

        @media (max-width: 500px) {
            margin-left: 0;
        }
    }

    .two-images {
        display: flex;
        flex-flow: row wrap;
        gap: 1.5em;
        margin-bottom: 1.5em;
        margin-top: 1.5em;

        img {
            margin: none;
            width: calc(50% - 0.75em);

            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }

    .big-word {
        color: $text-color;
        font-size: 1.8em;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .image-caption,
    .image-attribution {
        color: $grey-color;
        font-size: 0.9em;
        text-align: center;
        font-style: italic;
        display: inline-block;
        margin-bottom: 1.5em;
    }

    .image-caption img {
        margin-bottom: 1em;
    }

    .image-caption a,
    .image-attribution a {
        font-weight: normal;
        background-image: linear-gradient($grey-color 0%, $grey-color 100%);
        color: $grey-color;

        &,
        &:visited {
            color: $grey-color;
        }

        &:hover {
            color: $light-color;
            background-position: 0 0;
            background-size: 6px calc(1.15em + 2px);
            text-decoration: none !important;
        }
    }

    .fancy-link {
        background: $grey-color-light;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: $spacing-unit / 2;
        font-size: 24px;
        padding: $spacing-unit / 2;
        border-radius: $big-border-radius;
        width: fit-content;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;

        transition: transform 0.3s;

        &:hover {
            transform: scale(1.03);
            color: $brand-color !important;
        }

        .fancy-link-image {
            width: 2em;
            align-self: flex-start;
            margin: 0;
        }

        .fancy-link-text {
            font-weight: 700;
            text-align: center;
        }
    }

    .dinkus {
        text-align: center;
        color: $brand-color;
        letter-spacing: 0.2em;
        font-size: 24px;
        font-weight: bold;
        margin: 1em;
    }

    .reveal {
        &.unrevealed {
            cursor: pointer;
            background: $grey-color-light;
            font-size: small;
            padding: 0 0.5em;
            box-shadow: 0 0 0.3em 0.3em $grey-color-light;
        }
    }

    th:has(.answers-header) {
        width: 75%;
    }

    .iba-spectrum {
        display: grid;
        grid-template-columns: 1fr 1fr 1.2fr 1fr;
        margin-bottom: $spacing-unit;

        font-size: min(1em, 2.5vw);

        & > *:not(.empty, .header-header) {
            border: 1px solid $grey-color-dark;
            margin-bottom: -1px;
            margin-right: -1px;
            padding: $spacing-unit * 0.25;

            @media (max-width: 400px) {
                padding: $spacing-unit * 0.1;
            }
        }

        .header {
            background-color: $grey-color-light;
        }

        .header-header {
            color: $brand-color;
            font-weight: bold;
            padding-left: $spacing-unit * 0.25;
            padding-right: $spacing-unit * 0.25;
            padding-bottom: $spacing-unit * 0.1;
            line-height: 1.2em;
        }

        .ingredient-availability {
            grid-column: 2 / 5;
        }

        .name-recognition {
            align-self: end;
        }

        h4 {
            color: $text-color;
            // text-transform: uppercase;
            margin-bottom: 0.2em;
            line-height: 1.2em;
        }

        h5 {
            color: $grey-color-dark;
            font-weight: normal;
            margin-bottom: 0;
            line-height: 1.2em;
        }

        .cocktails {
            font-size: 0.8em;

            a {
                display: block;
                line-height: 1em;
                padding-bottom: 0.25em;
                page-break-inside: avoid;
                break-inside: avoid;
                -webkit-column-break-inside: avoid;
            }
        }

        .two-column {
            column-count: 2;
        }

        .none {
            color: $grey-color;
        }
    }
}
