---

---

@import "minima";

.blog-post {
    & .blog-post-date {
        // text-transform: uppercase;
    }

    & .blog-post-title {
        margin-bottom: $spacing-unit / 2;
    }

    & .blog-post-tag {
        font-size: small;
        font-weight: 700;
        background: $grey-color-light;
    }

    .blog-post-body {
        margin-bottom: $spacing-unit;
    }

    sup {
        vertical-align: top;
        font-size: 0.7em;
    }

    .blog-post-byline {
        color: $brand-color;
        font-size: 1.8em;
        text-align: right;
        font-weight: 700;
    }

    .share-this-post {
        display: flex;
        flex-direction: row wrap;
        align-items: center;
        gap: 0.5em;
    }

    .share-this-post-icon {
        fill: $brand-color;
        padding-right: 0;
    }

    img {
        width: max(45%, 300px);
        margin: auto;
        display: block;
    }

    .img-smaller {
        width: max(30%, 200px);
    }

    .img-big {
        width: 100%;
        display: inline-block;
        margin-bottom: 0.5em;
    }

    .img-left, .img-right {
        margin-bottom: 0.5em;

        @media (max-width: 500px) {
            margin-bottom: 1em;
            width: 100%;
            float: none;
        }
    }

    .img-left {
        float: left;
        margin-right: 1em;

        @media (max-width: 500px) {
            margin-right: 0;
        }
    }

    .img-right {
        float: right;
        margin-left: 1em;

        @media (max-width: 500px) {
            margin-left: 0;
        }
    }

    .big-word {
        color: $text-color;
        font-size: 1.8em;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .image-caption, .image-attribution {
        color: $grey-color;
        font-size: 0.9em;
        text-align: center;
        font-style: italic;
        display: inline-block;
        margin-bottom: 1.5em;
    }

    .image-caption img {
        margin-bottom: 1em;
    }

    .image-caption a, .image-attribution a {
        font-weight: normal;
        background-image: linear-gradient($grey-color 0%, $grey-color 100%);
        color: $grey-color;

        &, &:visited {
            color: $grey-color;
        }
    
        &:hover {
            color: $light-color;
            background-position: 0 0;
            background-size: 6px calc(1.15em + 2px);
            text-decoration: none !important;
        }
    }

    .fancy-link {
        background: $grey-color-light;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: $spacing-unit / 2;
        font-size: 24px;
        padding: $spacing-unit / 2;
        border-radius: $big-border-radius;
        width: fit-content;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;

        transition: transform 0.3s;

        &:hover {
            transform: scale(1.03);
            color: $brand-color !important;
        }

        .fancy-link-image {
            width: 2em;
            align-self: flex-start;
            margin: 0;
        }
    
        .fancy-link-text {
            font-weight: 700;
            text-align: center;
        }
    }
}