---
---

@import 'minima';

.crosswords-wrapper {
    position: relative;
}

.crosswords-background {
    position: absolute;
    z-index: -1;
    top: -0.8 * $spacing-unit;
    left: 10%;
    width: 80%;
    height: 100%;
    background: url('/assets/images/crosswordheader.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.17;
}

@include media-query($on-palm) {
    .crosswords-background {
        left: 0;
        width: 100%;
        top: -0.3 * $spacing-unit;
    }
}

.crosswords-header-wrapper {
    text-align: center;
    padding-top: 2 * $spacing-unit;
}

.crosswords-header h3 {
    font-size: 1.7em !important;
    line-height: 1em;
    margin: 0;
}

.crosswords-header h4 {
    font-weight: 600;
    margin: 0;
}

.crosswords {
    display: grid;
    grid-gap: $spacing-unit / 2;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.crossword-link-wrapper {
    flex: 0;
    border: 0 !important;
}

.crossword-link {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    &:hover {
        background: none !important;
        color: currentColor !important;
    }

    &:visited {
        color: currentColor !important;
    }
}

.crossword-box {
    position: relative;
    background-color: $grey-color-light;
    border-radius: $big-border-radius;
    padding: $spacing-unit / 2;
    min-height: 180px;

    transition: transform 0.3s;

    &:hover {
        transform: scale(1.03);
    }

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.crossword-box:first-child::before {
    content: '\2193  NEW!';
    position: absolute;
    top: -10px - $spacing-unit / 2;
    font-weight: 700;
    color: $hard-color;
}

.crossword-number {
    position: absolute;
    font-weight: bold;
    color: $light-color;
    background-color: $brand-color;
    top: 0;
    left: 0;
    font-size: 0.8em;
    line-height: 0.8em;
    width: 1.8em;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-40%, -40%);
    border-radius: 9999px;
    z-index: 1;
}

.crossword-title {
    margin-bottom: 0;
    flex: 0;

    h4 {
        font-size: 1.1em !important;
        line-height: 1.2em !important;
        margin: 0;
    }
}

.crossword-info {
    flex: 1 100%;
}

.crossword-collab {
    font-size: small !important;
    margin-bottom: 0 !important;
}

.crossword-date {
    display: inline-block;
    color: $text-color;
    font-size: small;
    margin-right: $spacing-unit / 3;
}

.crossword-difficulty {
    display: inline-block;
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: small;
    border-radius: 9999px;
    padding: 2px 8px 0px 8px;
}

.easy {
    background-color: $easy-color;
}

.medium {
    background-color: $medium-color;
}

.tricky {
    background-color: $tricky-color;
}

.hard {
    background-color: $hard-color;
}

.crossword-image {
    flex: 0 0 auto;
    margin-top: $spacing-unit / 2;
    align-self: flex-end;
}

.subscribe-buttons {
    margin-top: $spacing-unit / 4;
    margin-bottom: $spacing-unit;
}

.crossword-subscribe-button {
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 1.15em;
    font-family: $base-font-family;
    font-weight: 600;
    color: $light-color;
    background-color: $brand-color;
    border-radius: 999px;
    transition: transform 0.3s;
    margin-left: $spacing-unit / 6;
    margin-right: $spacing-unit / 6;

    &:hover {
        transform: scale(1.1);
    }
}

.donate-button {
    display: inline-block;
    border: none !important;
    // box-shadow: inset 0px 0px 5px 0px lighten($medium-color, 0%);
    cursor: pointer;
    padding: 5px 15px;
    font-size: 1.15em;
    font-family: $base-font-family;
    font-weight: 600;
    color: $brand-color !important;
    background-color: $grey-color-light;
    border-radius: 999px;
    margin-left: $spacing-unit / 6;
    margin-right: $spacing-unit / 6;
    transition: transform 0.3s;

    background-image: none !important;

    &:hover {
        transform: scale(1.1);
        background-color: $grey-color-light;
        color: $brand-color;
    }
}

#subscribe-modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: $text-color-hover;
}

.modal-content-wrapper {
    position: relative;
    background: white;
    border-radius: $big-border-radius;
    width: 480px;
    max-width: 95%;
    padding: $spacing-unit * 0.5;
}

@include media-query($on-palm) {
    .modal-content-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.x-button {
    position: absolute;
    cursor: pointer;
    right: -15px;
    top: -15px;
    height: 30px;
    width: 30px;
    border-radius: 999px;
    background-color: $grey-color-light;
    transition: background-color 0.3s;
    color: $brand-color;
    border: none;
    padding: 0;
    font-family: 'Times New Roman', serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    padding: 0;
    z-index: 9999;

    &:hover {
        background-color: darken($grey-color-light, 15%);
    }
}

#mc-embedded-subscribe-form {
    margin-top: $spacing-unit;
    padding: 0 !important;
    color: $brand-color !important;
    font-family: $base-font-family !important;
}

#mce-EMAIL {
    font-family: $base-font-family !important;
    color: $text-color !important;
}

#mc-embedded-subscribe {
    background-color: $brand-color !important;
    font-family: $base-font-family !important;
    font-size: 1rem !important;
    border-radius: 999px !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
    color: $light-color !important;

    &:hover {
        background-color: darken($brand-color, 10%) !important;
    }
}

.rss-link-wrapper {
    margin-top: $spacing-unit / 3;
    text-align: center;
}

.rss-link {
    border: none !important;
    background-image: none !important;

    .svg-icon {
        display: inline-block;
        fill: $grey-color;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        //margin-right: $spacing-unit / ;
    }

    .rss-text {
        color: $grey-color;
        font-size: 0.8em;
        border-bottom: 2px solid $grey-color;
    }

    &:hover {
        background: none !important;

        .rss-text {
            background: $grey-color !important;
            color: white;
        }
    }
}
