---

---

@import "minima";

.crossword-header {
    h1 {
        margin-bottom: $spacing-unit / 2;
    }

    .crossword-info > * {
        display: inline-block;
        font-size: 1em;
        margin-right: $spacing-unit / 2;
    }
}

.crossword-content img {
    width: min(100%, 450px);
    display: block;
    margin: 0 auto;
}

.crossword-donate-button {
    text-align: center;
}

.post form {
    margin-top: $spacing-unit / 2 !important;
}