---
---

@import 'minima';

.site-footer {
    background-color: $light-color;
    border: none !important;
    text-align: center;
    padding: $spacing-unit * 0.6 !important;

    ::selection {
        background: $brand-color;
        color: $light-color;
    }

    ::-moz-selection {
        background: $brand-color;
        color: $light-color;
    }
}

.home-link {
    @media (max-width: 400px) {
        display: none;
    }
}

.site-footer .social-media-list {
    margin-bottom: $spacing-unit * 0.4;

    .svg-icon {
        fill: $text-color;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
    }

    li:not(:last-child) {
        margin-right: $spacing-unit * 0.2;
    }
}

.home-link {
    font-size: 1em;
    border-right: 1px solid $text-color;
    padding-right: $spacing-unit * 0.3;
    margin-right: $spacing-unit * 0.3;

    a,
    a:visited {
        color: $text-color !important;
    }
}

.email-link {
    font-size: 1em;
    border-left: 1px solid $text-color;
    padding-left: $spacing-unit * 0.3;
    margin-left: $spacing-unit * 0.3;

    a,
    a:visited {
        color: $text-color !important;
    }
}

.site-footer .copyright {
    font-size: small;
}
