---

---

@import "minima";

.site-footer {
    background-color: $light-color;
    border: none;
    text-align: center;
    padding: $spacing-unit * 0.6;

    ::selection {
        background: $brand-color;
        color: $light-color;
    }
    
    ::-moz-selection {
        background: $brand-color;
        color: $light-color;
    }
}

.site-footer .social-media-list {
    margin-bottom: $spacing-unit * 0.4;

    .svg-icon {
        fill: $text-color;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
    }

    li:not(:last-child) {
        margin-right: $spacing-unit * 0.2;
    }
}

.home-link {
    border-right: 1px solid $text-color;
    padding-right: $spacing-unit * 0.3;
    margin-right: $spacing-unit * 0.3;

    &:hover {
        opacity: 1 !important;
        color: $text-color-hover;
    }

    &,
    &:visited {
        color: $text-color;
    }
}

.email-link {
    border-left: 1px solid $text-color;
    padding-left: $spacing-unit * 0.3;
    margin-left: $spacing-unit * 0.3;

    &:hover {
        opacity: 1 !important;
        color: $text-color-hover;
    }

    &,
    &:visited {
        color: $text-color;
    }
}

.site-footer .copyright {
    font-size: small;
}