---
---

@import 'minima';

/**
 * Links
 */

.site-header a:hover,
.site-footer a:hover {
    opacity: 0.5;
    transition: opacity 0.4s;
    text-decoration: none !important;
}

.page-content a,
.back-to a {
    font-weight: 600;
    text-decoration: none !important;

    background-image: linear-gradient($brand-color 0%, $brand-color 100%);
    background-position: 0 1.15em;
    background-repeat: repeat-x;
    background-size: 6px 2px;

    &,
    &:visited {
        color: $brand-color;
    }

    &:hover {
        color: $light-color;
        background-position: 0 0;
        background-size: 6px calc(1.15em + 2px);
        text-decoration: none !important;
    }
}

a.iba {
    font-weight: bold;
    background-image: none;

    &,
    &:visited {
        color: $text-color;
    }

    &:hover {
        color: $hard-color;
    }
}

/**
 * All pages
 */

.page-content,
.back-to {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        color: $brand-color;
    }

    ::selection {
        background: $brand-color;
        color: $light-color;
    }

    ::-moz-selection {
        background: $brand-color;
        color: $light-color;
    }
}

.back-to {
    background-color: $light-color;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    p {
        margin-top: $spacing-unit / 4 !important;
        margin-bottom: $spacing-unit / 4 !important;
    }
}

.sub-button {
    color: $light-color !important;
    background-color: $brand-color !important;

    &:hover {
        color: $light-color !important;
        background-color: $brand-color !important;
    }
}

.aside {
    background-color: $brand-color-light;
    color: $text-color;
    border: 1px solid $brand-color-medium;
    padding: $spacing-unit / 2;
    border-radius: 5px;
    font-size: 15px;
    font-style: normal;
    margin-top: $spacing-unit * 0.75;
    margin-bottom: $spacing-unit * 0.75;
}

.margin-top {
    margin-top: $spacing-unit !important;
}

.margin-bottom {
    margin-bottom: $spacing-unit !important;
}
