---

---

@import "minima";

$header-height: 150px;

#header-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
}

#header-foreground {
    position: relative;
    z-index: 1;
}

.site-header {
    background-color: $brand-color !important;
    min-height: $header-height !important;
    border: none !important;
}

.site-title {
    font-weight: 700 !important;
    font-size: 2em !important;
    line-height: $header-height !important;

    &,
    &:visited {
        color: $light-color !important;
    }
}

.site-nav {
    .trigger-wrapper {
        display: table;
        height: $header-height;
    }
    .trigger {
        display: table-cell;
        vertical-align: middle;
    }

    .page-link {
        font-weight: 600;
        font-size: 1.2em;
        display: block;
        text-align: right;
        margin-right: 0 !important;
        color: $light-color;

        &,
        &:visited {
            color: $light-color !important;
        }
    
        &:hover {
            opacity: 0.5;
            text-decoration: none;
        }

        &::after {
            font-family: monospace;
            content: "\A0";
            margin-left: 4px;
        }
    }

    #active-page::after {
        content: "\25C2";
    }
    
    @include media-query($on-palm) {
        background: none !important;
        border: none !important;
        top: $header-height / 2 - 19px !important;

        .page-link {
            line-height: normal;
            &::after {
                content: "" !important;
            }

            &,
            &:visited {
                color: $light-color !important;
            }
        }

        .menu-icon > svg {
            fill: $light-color !important;
        }

        .menu-icon:hover {
            opacity: 0.5;
        }

        label[for="nav-trigger"] {
            border: 1px solid $light-color;
            border-radius: 5px;
        }
        
        input:checked ~ label[for="nav-trigger"] {
            position: fixed;
            top: $spacing-unit / 2;
            right: $spacing-unit / 2;
        }
        
        input ~ .trigger-wrapper .trigger {
            clear: none;
            display: inline;
            position: fixed;
            transition: right 0.5s;
            right: -$spacing-unit * 5;
            top: 0;
            padding-right: 0;
            padding-top: $spacing-unit + 36px;
            height: 100%;
            width: $spacing-unit * 5;
            //background-color: darken($brand-color, 12%);
            background-color: $text-color;
        }

        input:checked ~ .trigger-wrapper .trigger {
            right: 0;
            padding-right: $spacing-unit / 2 - 14px;
        }

        input ~ .trigger-bg {
            position: fixed;
            top: 0;
            left: 0;
            height: 0;
            width: 0;
            opacity: 0%;
            transition: opacity 0.5s;
            background-color: $text-color;
        }

        input:checked ~ .trigger-bg {
            opacity: 50%;
            height: 100%;
            width: 100%;
        }
    }
}

/**
 * Social media links
 */

.social-media-list {
    padding: 0;
    margin: 0;
    display: inline-block;

    li {
        display: inline;

        .svg-icon {
            vertical-align: middle;
            padding: 0;
            width: 28px;
            height: 28px;
        }
    }

    .username {
        display: none;
    }
}

#header-foreground > .social-media-list {
    margin-left: $spacing-unit;

    .svg-icon {
        fill: $light-color;
    }

    li {
        line-height: $header-height;

        &:not(:last-child) {
            margin-right: $spacing-unit * 0.6;
        }
    }

    @include media-query($on-palm) {
        display: none;
    }
}

.trigger > .social-media-list {
    display: none;
    padding-right: $spacing-unit / 2;
    margin-top: 10px;

    .svg-icon {
        fill: $light-color;
    }

    li:not(:last-child) {
        margin-right: $spacing-unit * 0.2;
    }

    @include media-query($on-palm) {
        display: inline-block;
    }
}