---

---

@import "minima";

/**
 * Home
 */

.home-wrapper {
    display: flex;
    gap: $spacing-unit;

    @include media-query($on-palm) {
        flex-direction: column;
    }
}

.home-content {
    flex-grow: 3;

    p:last-child {
        margin-bottom: 0;
    }
}

.home-image {
    flex-grow: 2;
    width: 100%;
    overflow: hidden;
    border-radius: $big-border-radius;

    img {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
    }

    @include media-query($on-palm) {
        flex-direction: column;
        gap: $spacing-unit * 0.5;

        height: 69vw;
    }
}

.try-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: $spacing-unit;
    margin-top: $spacing-unit;

    @include media-query($on-palm) {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.try-box {
    flex: 1;
    gap: 1em;
    display: flex;
    box-sizing: border-box;
    background-color: $grey-color-light;
    border-radius: $big-border-radius;
    padding: $spacing-unit / 2;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &:hover {
        transform: scale(1.03);
    }

    transition: transform 0.3s;
}

.try-box-label > * {
    margin: 0;
}

.try-box-image-wrapper {
    width: 50px;
    flex: 0 0 auto;
}