---

---

@import "minima";

/**
 * Global changes
 */

a:hover {
    opacity: 0.5;
    text-decoration: none;
}

/**
 * Site header
 */

$header-height: 150px;

#header-background {
    position: fixed;
    top: 0;
    left: 0;
    // width: 100%;
    height: $header-height;
}

.header-foreground {
    position: relative;
    z-index: 1;
}

.site-header {
    background: $brand-color;
    border-top: none;
    min-height: $header-height;
}

.site-title {
    font-weight: 700;
    font-size: 2em;
    line-height: $header-height;

    &,
    &:visited {
        color: white;
    }
}
.site-nav {
    .page-link {
        line-height: $header-height;
        font-weight: 600;
        font-size: 1.2em;

        &,
        &:visited {
            color: white;
        }
    
        &:hover {
            opacity: 0.5;
            text-decoration: none;
        }
    }

    @include media-query($on-palm) {
        background: none;
        top: $header-height / 2 - 19px;

        .menu-icon > svg {
            fill: white;
        }

        .menu-icon:hover {
            opacity: 0.5;
        }
    }
}
