---

---

@import "minima";

/**
 * Global changes
 */

a:hover {
    opacity: 0.5;
    text-decoration: none;
}

/**
 * Site header
 */

$header-height: 150px;

#header-background {
    position: fixed;
    top: 0;
    left: 0;
    // width: 100%;
    height: $header-height;
    visibility: hidden;
}

#header-foreground {
    position: relative;
    z-index: 1;
}

.site-header {
    background-color: $brand-color;
    border-top: none;
    min-height: $header-height;
}

.site-title {
    font-weight: 700;
    font-size: 2em;
    line-height: $header-height;

    &,
    &:visited {
        color: $light-color;
    }
}
.site-nav {
    .page-link {
        line-height: $header-height;
        font-weight: 600;
        font-size: 1.2em;

        &,
        &:visited {
            color: $light-color;
        }
    
        &:hover {
            opacity: 0.5;
            text-decoration: none;
        }
    }
    
    @include media-query($on-palm) {
        background: none;
        border: none;
        top: $header-height / 2 - 19px;

        .page-link {
            line-height: normal;
        }

        .menu-icon > svg {
            fill: $light-color;
        }

        .menu-icon:hover {
            opacity: 0.5;
        }

        label[for="nav-trigger"] {
            border: 1px solid $light-color;
            border-radius: 5px;
        }
        
        input:checked ~ label[for="nav-trigger"] {
            position: fixed;
            top: $spacing-unit / 2;
            right: $spacing-unit / 2;
        }
        
        input ~ .trigger {
            clear: none;
            display: inline;
            position: fixed;
            transition: right 0.5s;
            right: $spacing-unit * -4;
            top: 0;
            padding-right: 0;
            padding-top: $spacing-unit + 36px;
            height: 100%;
            min-width: $spacing-unit * 4;
            background-color: darken($brand-color, 12%);
        }

        input:checked ~ .trigger {
            right: 0;
            padding-right: $spacing-unit / 2 - 10px;
        }
    }
}

