---
layout: default
---

<div class="blog-post">
    <div class="blog-post-header post-header">
        <span class="blog-post-date">
            {{ page.date | date: site.minima.date_format }}
        </span>
        <h1 class="blog-post-title post-title">
            {{ page.title }}
        </h1>
        <div class="blog-post-tags">
            {% for tag in page.tags %}
                <span class="blog-post-tag">
                    {{ tag }}
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="blog-post-body">
        {{ content }}
        <div class="blog-post-byline">
            – Adam
        </div>
    </div>

    <script src="{{ "/assets/js/share-scripts.js" | relative_url }}" type="text/javascript"></script>
    
    <div class="blog-donate-button-wrapper">
        <span class="enjoying">
            Enjoyed the post?
        </span>
        
        <span class="share-this-post donate-button" onclick="shareToTwitter('{{ site.url }}{{ page.url }}');">
            Share <svg class="svg-icon share-this-post-icon" viewBox="0 0 16 16">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
            </svg>
        </span>
        <a class="donate-button" id="donate-button" href="https://www.buymeacoffee.com/aaronson" rel="noreferrer noopener" target="_blank">
            Buy me a coffee!
        </a>
    </div>
</div>

