---
layout: default
---

<head>
    <meta name="twitter:image" content="https://aaronson.org/assets/images{{ page.id }}.png" />
    <meta name="og:image" content="https://aaronson.org/assets/images{{ page.id }}.png" />
    <meta name="twitter:title" content="Crossword: {{ page.title }} | Adam Aaronson" />
    <meta name="og:title" content="Crossword: {{ page.title }} | Adam Aaronson" />
</head>

<article class="post">
    <header class="post-header crossword-header">
        <h1 class="post-title">Crossword: {{ page.title | escape }}</h1>
        <div class="crossword-info">
            <div class="crossword-date">
                {{ page.date | date: site.minima.date_format }}
            </div><div class="crossword-difficulty {{ page.difficulty }}">
                {{ page.difficulty | upcase }}
            </div><div class="crossword-links">
                <a href="{{ page.filename | prepend: "/assets/puz/" | append: ".puz"}}">puz</a>
                / <a href="{{ page.filename | prepend: "/assets/pdf/" | append: ".pdf"}}">pdf</a>
                / <a class="solution-link" href="{{ page.filename | prepend: "/assets/pdf/" | append: "solution.pdf"}}">solution</a>
            </div>
        </div>
    </header>
  
    <div class="post-content crossword-content">
        {{ content }}
    </div>
</article>  