---
layout: page
---

{{ content }}

<div class="crosswords-wrapper">
    <div class="crosswords-background"></div>
    <div class="crosswords-header-wrapper">
        <div class="crosswords-header">
            <h3>Aaronson.org crosswords</h3>
            <h4>by Adam Aaronson</h4>
            <div class="subscribe-buttons">
                <button
                    class="crossword-subscribe-button"
                    id="sub-button"
                    onclick="openSubscribeModal()"
                >
                    Subscribe!
                </button>
                <a
                    class="donate-button"
                    id="donate-button"
                    href="https://www.buymeacoffee.com/aaronson"
                    rel="noreferrer noopener"
                    target="_blank"
                    >Buy me a coffee!</a
                >
            </div>
        </div>
    </div>
    <div class="crosswords">
        {% assign sorted_crosswords = site.crosswords | sort: "date" | reverse
        %} {% for crossword in sorted_crosswords %} {% assign week_ago_date =
        'now' | date: '%s' | minus: 604800 %} {% assign crossword_date =
        crossword.date | date: '%s' | plus: 0 %} {% assign crossword_num =
        site.crosswords.size | minus: forloop.index0 %}
        <div
            class="crossword-box {% if week_ago_date < crossword_date %}new-crossword-box{% endif %}"
        >
            <a class="crossword-link-wrapper" href="{{ crossword.url }}">
                <span class="crossword-link"></span>
            </a>
            <div class="crossword-number">
                <span>{{ crossword_num }}</span>
            </div>
            <div class="crossword-box-header">
                <span class="crossword-title">
                    <h4>{{ crossword.title }}</h4>
                </span>
            </div>
            <div class="crossword-info">
                {% if crossword.collab %}
                <h3 class="crossword-collab">w/ {{ crossword.collab }}</h3>
                {% endif %}
                <div class="crossword-date">
                    {{ crossword.date | date: "%-m/%-d/%y" }}
                </div>
                <div class="crossword-difficulty {{ crossword.difficulty }}">
                    {{ crossword.difficulty | upcase }}
                </div>
            </div>
            <div class="crossword-image-wrapper">
                <img class="crossword-image" src="{{ crossword.id | prepend:
                "/assets/images" | append: ".png"}}" />
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include subscribemodal.html %}
