---
layout: default
---

<div class="home">
  <div class="home-wrapper">
    <div class="home-content">
      {{ content }}
    </div>
    <div class="home-image"></div>
  </div>

  <div class="try-box-wrapper">
    <div class="try-box">
      {% assign crossword = site.crosswords | sort: "date" | last %}
      <div class="try-box-label">
        <h5>Try my latest crossword puzzle!</h5>
        <h4>Crossword: {{ crossword.title }} →</h4>
      </div>
      <a class="crossword-link-wrapper" href="{{ crossword.url }}">
        <span class="crossword-link"></span>
      </a>  
      <div class="try-box-image-wrapper">
          <img class="try-box-image" src="{{ crossword.id | prepend: "/assets/images" | append: ".png"}}" />
      </div>
    </div>
    <div class="try-box">
      {% assign post = site.posts | sort: "date" | last %}
      <div class="try-box-label">
        <h5>Read my latest blog post!</h5>
        <h4>{{ post.title }} →</h4>
      </div>
      <a class="crossword-link-wrapper" href="{{ post.url }}">
        <span class="crossword-link"></span>
      </a>  
      <div class="try-box-image-wrapper">
          <img class="try-box-image" src="android-chrome-256x256.png" />
      </div>
    </div>
  </div>
</div>