---
layout: page
---

{{content}}

<div class="projects">
    {% assign sorted_projects = site.projects | sort: "position" %}
    {% for project in sorted_projects %}
        <div class="project-box">
            <div class="project-title">
                <h2>{{ project.title }}</h2>
                <h5>{{ project.subtitle }}</h5>
                <h6>{{ project.year }}</h6>
            </div>
            <div class="project-image-box">
                <img class="project-image" src="{{ project.image | prepend: "/assets/images/"}}"></img>
            </div>
            <div class="project-description">
                <p>{{ project.content }}</p>
            </div>
            <a class="project-link-wrapper" href="{{ project.permalink }}">
                <span class="project-link"></span>
            </a>
        </div>
    {% endfor %}
</div>
